<div class="pokedex">
  <div class="pokedex-header">
    <img width="100%" src="assets/pokedexup.svg">
  </div>
  <div class="pokemon-list">

    <div class="pokemon" *ngFor="let pokemon of pokemonsSort(); let i = index">
      <div class="pokemon-header">
        <span class="pokemon-number">{{formatID(pokemon?.id)}}</span>
        <ion-icon (click)="saveFavorite(pokemon.id)" class="pokemon-favorite is-favorite" name="heart"></ion-icon>
      </div>
      <div class="pokemon-image">
        <img height="80px" [src]="pokemon?.sprites?.other['official-artwork'].front_default">
      </div>
      <div class="pokemon-name">
        <span>{{pokemon?.name}}</span>
      </div>
    </div>

    <div class="pokemon-empty"></div>

  </div>

  <div class="pokedex-footer">
    <img width="100%" src="assets/pokedexdown.svg">
  </div>
</div>
